.card {
  position: relative;
  padding: 24px 20px;

  border-top: 1px solid #e5e5e5;
}

.card__image {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  min-height: 284px;
  object-fit: cover;
}

.card__image-link {
  margin-bottom: 18px;
  text-decoration: none;
  color: #000000;
}

.card__description {
  margin-bottom: 11px;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 11px;
}

.card__author {
  margin: 0;
}

.card__count {
  margin: 0;
}
