.card {
  padding: 24px 18px;

  border-top: 1px solid #e5e5e5;
}

.card__image {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.card__image-link {
  margin-bottom: 18px;
}


.card__heading {
  margin-top: 0;
  margin-bottom: 11px;
}

.card__author {
  margin: 0;
}

.card__count {
  margin: 0;
}
