.catalog-cards__intro {
  padding: 37px 20px;

  @media (min-width: @tablet-width) {
    max-width: 458px;
    padding: 67px 0 81px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 0 88px;
    margin: 0 auto;
  }
}

.catalog-cards {
  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.catalog-cards__container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog-cards__card {
  @media (min-width: @tablet-width) {
    &:nth-child(2n + 3) .card__info {
      background-color: #eaeaea;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding: 0;

    &:nth-child(2n + 3) .card__info {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.catalog-cards__card--first {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}
