.contact-form__wrap {
  @media (min-width: @tablet-width) {
    padding-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 100px;
    padding-bottom: 63px;
  }
}
