.feedback__intro {
  padding: 36px 20px 28px;

  @media (min-width: @tablet-width) {
    padding-top: 64px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 115px;
    padding-bottom: 65px;
  }
}

.feedback__intro-heading {
  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}
