.hero-block__landscape {
  position: relative;

  width: 100%;
  height: 389px;

  background-color: #a6cff0;
  background-image: url("../img/hero-block/hero-block.jpg");
}

.hero-block__img-text,
.hero-block__img-text--bottom {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;

  margin: auto;
}

.hero-block__img-text--bottom {
  // bottom: 52px;
}

.hero-block__landscape--small {
  width: 100%;
  height: 214px;

  background-image: url("../img/hero-block/hero-block-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
