.hero-block {
  position: relative;

  width: 100%;
  height: 389px;

  background: #a6cff0 url("../img/hero-block/tablet-back-index@1x.jpg") no-repeat top;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-image: url("../img/hero-block/tablet-back-index@1x.jpg") center;
    height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-block/tablet-back-index@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background: url("../img/hero-block/desktop-back-index@1x.jpg") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/hero-block/desktop-back-index@2x.jpg");
    }
  }

  &--r {
    position: relative;

    width: 100%;
    height: 158px;
    background: #a6cff0 url("../img/hero-block/tablet-back-index@1x.jpg") no-repeat bottom;

    @media (min-width: @tablet-width) {
      height: 290px;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero-block/tablet-back-index@2x.png");
      }
    }

    @media (min-width: @desktop-width) {
      background: url("../img/hero-block/desktop-back-index@1x.jpg") no-repeat bottom;

      @media (min-resolution: 2dppx) {
        background: url("../img/hero-block/desktop-back-index@2x.jpg");
      }
    }
  }
}

.hero-block__photo {
  width: 100%;

  vertical-align: middle;
  object-fit: cover;
}

.hero-block__img-text,
.hero-block__img-text--bottom {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;

  margin: auto;
}

.hero-block__img-text {
  @media (min-width: @tablet-width) {
    top: 77px;
  }
}
