.hero-block__landscape {
  position: relative;

  width: 100%;

  background-color: #a6cff0;
}

.hero-block__photo {
  width: 100%;

  vertical-align: middle;
  object-fit: cover;
}

.hero-block__img-text,
.hero-block__img-text--bottom {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;

  margin: auto;
}
