.map {
  background-color: #aac9a5;
}

.map__image {
  display: inline-block;
  width: 100%;

  object-fit: cover;
  vertical-align: middle;
}

.map__interactive {
  width: 100%;
  vertical-align: middle;
}
