.recommendations {
  padding: 24px 18px 46px 18px;
  text-align: left;
}

.recommendations__list {
  display: flex;
  flex-direction: column;
  column-gap: 33px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.recommendations__item {
  font-size: 14px;
  letter-spacing: 0.02em;
  flex-grow: 1;
  justify-content: center;
  padding-left: 47px;
}

.recommendations__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.recommendations__text {
  margin: 0;
  margin-bottom: 33px;
}
