.search-hotel__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 458px;
  padding: 38px 18px 49px 18px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 60px 0 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 0 66px;
  }
}

.search-hotel__heading {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.search-hotel__text {
  margin-bottom: 32px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.search-hotel__button {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    max-width: 458px;
  }
}

.search-hotel__map {
  @media (min-width: @desktop-width) {
    max-width: 1200px;
    width: 100%;
  }
}
